<div class="container" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.my_career">Tech Talks</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for techtalks in site.data.index.techtalks %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="fa {{ techtalks.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <a href="{{ techtalks.talklink.url }}">
                          <h2><span data-i18n="techtalks.{{ techtalks.name.i18n }}">{{ techtalks.name.detail }}</span></h2>
                        </a>
                        <p><span data-i18n="techtalks.{{ techtalks.desc.i18n }}">{{ techtalks.desc.detail }} </span></p>
                        <span class="vertical-date"><span data-i18n="techtalks.{{ techtalks.date.i18n }}"> {{ techtalks.date.detail }} </span>
                        <br/> <small><a href="{{ techtalks.talklink.detail }}"><span data-i18n="techtalks.{{ techtalks.talklink.i18n }}">{{ techtalks.talklink.detail }}</span></a></small> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
